@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  color-scheme: light dark;
} */

html,
body,
#root {
  height: 100%;
}

.light-scrollbars::-webkit-scrollbar-thumb,
.light-scrollbars::-webkit-scrollbar-corner {
  background-color: transparent;
}

.light-scrollbars::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.light-scrollbars::-webkit-scrollbar-thumb {
  background-color: rgb(82 82 91 / 1);
  border-radius: 20px;
}
